@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@400;700&display=swap');
@import './var.css';

/* ~~~~~~~~~~~ */
/* GLOBAL */
/* ~~~~~~~~~~~ */
body {
  font-family: 'Nanum Gothic Coding', monospace;
}

@media (min-width: 600px) {
  .wrapper {
    width: 600px;
  }
  .boardHead{
    font-size: var(--font-md);
  }
  .score{
    font-size: var(--font-md);
  }
  .cardTitle{
    font-size: var(--font-xs);
  }
  .validateMsg{
    font-size: var(--font-xs);
  }
  table thead tr{
    font-size: var(--font-sm);
  }
  table tbody tr{
    font-size: var(--font-xs);
  }
  .playAgainBtn{
    font-size: var(--font-md);
  }
  .footer{
    font-size: var(--font-xs);
  }
}

/* ~~~~~~~~~~~ */
/* BOARD */
/* ~~~~~~~~~~~ */
.boardHead {
  justify-content: center;
  background: #eee;
  padding: 1.75vw;
  max-width: 100vh;
  margin: 0 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.boardHead > h2 {
  text-align: center;
  font-size: var(--font-md);
  margin-bottom: 2vw;
  margin-top: 0;
}

.boardBody {
  display: flex;
  justify-content: center;
  background: #eee;
  padding: 1.75vw;
  max-width: 100vh;
  margin: 0 20px;
  text-align: center;
}

.boardFoot {
  background: #eee;
  padding: 1.75vw;
  max-width: 100vh;
  margin: 0 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  text-align: center;
}

.card {
  margin: 5px;
  width: 50%;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.2);
  position: relative;
}

.score {
  font-size: var(--font-md);
  margin-top: 2vw;
  margin-bottom: 2vw;
}

.cardTitle {
  margin-top: 3vw;
  margin-bottom: 3vw;
  font-size: var(--font-xs);
  font-weight: bold;
  color: green
}

.validateMsg {
  margin-top: 3vw;
  margin-bottom: 1vw;
  font-size: var(--font-xs);
  color: red;
  font-weight: bold;
}

/* LEADERBOARD */
table {
  border-spacing: 1;
  border-collapse: collapse;
  background: white;
  border-radius: 6px;
  overflow: hidden;
  max-width: 800px;
  width: 50%;
  margin: 0 auto;
  position: relative;
  box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.2);
}
table * {
  position: relative;
}
table td, table th {
  padding: 10px;
}
table thead tr {
  background: dodgerblue;
  color: white;
  font-size: var(--font-sm);
  text-align: center;
}
table tbody tr {
  font-size: var(--font-xs);
  border-bottom: 1px solid #E3F1D5;
  text-align: center;

}
table tbody tr:last-child {
  border: 0;
}

/* ~~~~~~~~~~~ */
/* BUTTONS */
/* ~~~~~~~~~~~ */
.playAgainBtn {
  background: dodgerblue;
  border: 1px solid #eee;
  color: white;
  box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 2%;
  font-family: 'Nanum Gothic Coding', monospace;
  font-size: var(--font-md);
}

/* ~~~~~~~~~~~ */
/* FORM */
/* ~~~~~~~~~~~ */
form input[type=text] {
  border-radius: 5px;
  width: 40%;
  border: 1px solid rgb(153, 153, 153);
  font-family: 'Nanum Gothic Coding', monospace;
  padding: 5%;
  margin-right: 3%;
}
button {
  background: dodgerblue;
  border: 1px solid #eee;
  color: white;
  box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  font-family: 'Nanum Gothic Coding', monospace;
  padding: 5% 7%;
}
button:disabled {
  background: rgba(30, 144, 255, 0.5);
  border: 1px solid #eee;
  color: white;
  box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  font-family: 'Nanum Gothic Coding', monospace;
  padding: 5% 7%;
}
form {
  margin-bottom: 5%;
}

/* ~~~~~~~~~~~ */
/* FOOTER */
/* ~~~~~~~~~~~ */
.footer {
  display: flex;
  justify-content: flex-end;
  padding: 6px;
  max-width: 100vh;
  margin: 0 20px;
  font-size: var(--font-xs);
}