@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono:wght@400;500;600&display=swap');

.footer {
  display: flex;
  flex-flow: row wrap;
  padding: 6px;
  max-width: 100vh;
  margin: 0 20px;
  font-family: 'Red Hat Mono', monospace;
  font-size: 0.5em;
  display: flex;
  justify-content: flex-end;
}