@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@400;700&display=swap');
@import './var.css';

/* ~~~~~~~~~~~ */
/* GLOBAL */
/* ~~~~~~~~~~~ */
body {
  font-family: 'Nanum Gothic Coding', monospace;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
}

@media (min-width: 600px) {
  .wrapper {
    width: 600px;
  }
  .headerTitle{
    font-size: var(--font-xl);
  }
  .menu{
    font-size: var(--font-md);
  }
  .menuBtn{
    font-size: var(--font-lg);
  }
  .menuItem>strong{
    font-size: var(--font-lg);
  }
  .message{
    font-size: var(--font-md);
  }
  .footer{
    font-size: var(--font-sm);
  }
  .rules{
    font-size: var(--font-sm);
  }
}

/* ~~~~~~~~~~~ */
/* HEADER */
/* ~~~~~~~~~~~ */
.header {
  display: flex;
  flex-flow: row wrap;
  padding: 6px;
  max-width: 100vh;
  margin: 0 20px;
}

.headerTitle {
  font-size: var(--font-xl);
  font-weight: bolder;
  margin: 0;
  padding: 0;
}

/* ~~~~~~~~~~~ */
/* MENU */
/* ~~~~~~~~~~~ */
.menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1%;
  max-width: 100vh;
  margin: 0 20px;
  background: #eee;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-size: var(--font-md);
}

.menuBtn {
  background: dodgerblue;
  border: 1px solid #eee;
  color: white;
  box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 2%;
  font-family: 'Nanum Gothic Coding', monospace;
  font-size: var(--font-lg);
}

.menuItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #000;
}

.danger {
  color: red;
}

.success {
  color: green;
}

.default {
  color: black;
}

.menuItem>p {
  margin: 0;
  padding: 0;
}

.menuItem>strong {
  font-size: var(--font-lg);
}

/* ~~~~~~~~~~~ */
/* BOARD */
/* ~~~~~~~~~~~ */
.board {
  display: flex;
  flex-flow: row wrap;
  background: #eee;
  padding: 1%;
  max-width: 100vh;
  margin: 0 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.card {
  margin: 5px;
  width: calc(33.33% - 10px);
  padding-top: 20%;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.2);
  position: relative;
}

.cardContent {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  display: flex;
  justify-content: center;
}

svg {
  height: 100%;
  margin: 0 2%;
}

.clickOverlay {
  border-radius: 10px;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  z-index: 1;
}

.selected {
  box-shadow: 0 10px 15px -5px rgba(0, 0, 0, 0.2), inset 0 0 5px 1px black;
}

.selectedDanger {
  box-shadow: 0 10px 15px -5px rgba(0, 0, 0, 0.2), inset 0 0 5px 1px red;
}

.selectedSuccess {
  box-shadow: 0 10px 15px -5px rgba(0, 0, 0, 0.2), inset 0 0 5px 1px green;
}

.message {
  background: #eee;
  text-align: center;
  max-width: 100vh;
  margin: 0 20px;
  padding: 1%;
  font-weight: bold;
  padding-top: 1vw;
  font-size: var(--font-md);
}

/* ~~~~~~~~~~~ */
/* FOOTER */
/* ~~~~~~~~~~~ */
.footer {
  display: flex;
  justify-content: flex-end;
  padding: 6px;
  max-width: 100vh;
  margin: 0 20px;
  font-size: var(--font-sm);
}

/* ~~~~~~~~~~~ */
/* RULES */
/* ~~~~~~~~~~~ */
.rules {
  max-width: 100vh;
  margin: 0 20px;
  font-size: var(--font-sm);
}

.boldUnder {
  font-weight: bold;
  text-decoration: underline;
}

.exampleBoard {
  display: flex;
  background: #eee;
  padding: 6px;
  max-width: 100vh;
  margin: 0 20px;
  border-radius: 10px;
}