@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono:wght@400;500;600&display=swap');


.rules {
    max-width: 100vh;
    margin: 0 20px;
    font-family: 'Red Hat Mono', monospace;
}

.setExample {
    display: flex;
    justify-content: center;
}

.boldUnder {
    font-weight: bold;
    text-decoration: underline;
}
li.nobullets {
    list-style-type:none
}


/* FOR EXAMPLE SET */
.board {
    display: flex;
    flex-flow: row wrap;
    background: #eee;
    padding: 6px;
    max-width: 100vh;
    margin: 0 20px;
}
.card {
    margin: 5px;
    width: calc(33.33% - 10px);
    padding-top: 20%;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.2);
    position: relative;
}

.cardContent {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: center;
}

svg {
    height: 100%;
    margin: 0 2%;
}

.clickOverlay {
    border-radius: 10px;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    z-index: 1;
  }